<a href="https://colab.research.google.com/github/Ibrahimbaig2001/Coursea-repo/blob/main/Cars_99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Importing the data

In [ ]:
df = pd.read_csv('Automobile_data.csv')

Reading the top ten elements in the dataset

In [ ]:
df.head(10)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,NaN,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,9,NaN,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,NaN,176.8,ohc,four,101,23,16925.0
9,11,bmw,sedan,NaN,176.8,ohc,six,121,21,20970.0

Counting the number of companies present in the dataset company column

In [ ]:
df['company'].value_counts() # Counting the number of car companies in the data set

company
toyota           7
bmw              5
mazda            5
nissan           5
audi             4
mercedes-benz    4
chevrolet        3
honda            3
isuzu            3
jaguar           3
mitsubishi       3
porsche          3
volkswagen       3
alfa-romero      2
dodge            2
volvo            2
Name: count, dtype: int64

In [ ]:
df.describe() # Statistical Summary

,index,wheel-base,length,horsepower,average-mileage,price
count,61.000000,58.000000,59.000000,61.000000,61.000000,58.000000
mean,40.885246,98.301724,173.015254,107.852459,25.803279,15387.000000
std,25.429706,6.798981,13.845313,53.524398,8.129821,11320.259841
min,0.000000,88.400000,141.100000,48.000000,13.000000,5151.000000
25%,18.000000,94.500000,162.200000,68.000000,19.000000,6808.500000
50%,39.000000,96.000000,171.200000,100.000000,25.000000,11095.000000
75%,61.000000,101.000000,177.050000,123.000000,31.000000,18120.500000
max,88.000000,120.900000,208.100000,288.000000,47.000000,45400.000000

In [ ]:
df.dtypes # Knowing about the data types of different columns

index                 int64
company              object
body-style           object
wheel-base          float64
length              float64
engine-type          object
num-of-cylinders     object
horsepower            int64
average-mileage       int64
price               float64
dtype: object

Knowing about the number of columns and rows present in the dataset

In [ ]:
df.shape # Tells about the number of rows and columns present in the dataset

(61, 10)

In [ ]:
# Data Selection
df['price'] # Selecting only the price column

0     13495.0
1     16500.0
2     16500.0
3     13950.0
4     17450.0
       ...
56     7975.0
57     7995.0
58     9995.0
59    12940.0
60    13415.0
Name: price, Length: 61, dtype: float64

In [ ]:
df.columns # gives all the columns present in the dataset in the form of array

Index(['index', 'company', 'body-style', 'wheel-base', 'length', 'engine-type',
       'num-of-cylinders', 'horsepower', 'average-mileage', 'price'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           57 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        58 non-null     float64
 4   length            59 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  60 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB

Selecting the columns from specifing their location

In [ ]:
df.loc[3] # Accecing the 3 column in the dataframe

index                     3
company                audi
body-style            sedan
wheel-base             99.8
length                176.6
engine-type             ohc
num-of-cylinders       four
horsepower              102
average-mileage          24
price               13950.0
Name: 3, dtype: object

In [ ]:
df.loc[:8] # Accecning 8 rows in the dataframe

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,NaN,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,9,NaN,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,NaN,176.8,ohc,four,101,23,16925.0

In [ ]:
df.tail() # Gives the last 5 elements in the dataframe

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,NaN,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [ ]:
df.isnull().values.any() # Checking for null values in the dataset

True

In [ ]:
df.isnull().sum() # Gives the count of NAN/Null values present in the dataset

index               0
company             4
body-style          0
wheel-base          3
length              2
engine-type         0
num-of-cylinders    1
horsepower          0
average-mileage     0
price               3
dtype: int64

Filling the null values present in the price column by the mean of that column

In [ ]:
df['price'].fillna(df['price'].mean(),inplace=True)

Checking whether the price column has been updated or not

In [ ]:
df.isnull().sum() # Previoisly the price column contained 3 null values, but after replacing the NAN values with mean we dont have any null values

index               0
company             4
body-style          0
wheel-base          3
length              2
engine-type         0
num-of-cylinders    1
horsepower          0
average-mileage     0
price               0
dtype: int64

In [ ]:
df['num-of-cylinders'].value_counts() # Counting the number of different types of cylinders present in the dataset

num-of-cylinders
four      38
six       11
five       5
eight      3
three      1
twelve     1
two        1
Name: count, dtype: int64

In [ ]:
df['num-of-cylinders'].fillna(value = "six", inplace = True) # Filling the one null value with the num-of-cylinders as six

<ipython-input-23-4e989b86410c>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['num-of-cylinders'].fillna(value = "six", inplace = True) # Filling the one null value with the num-of-cylinders as six

In [ ]:
df.isnull().sum()

index               0
company             4
body-style          0
wheel-base          3
length              2
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

In [ ]:
df['length'].fillna(df['length'].mean(), inplace = True) # replacing the null values present in the length column with the mean of the column

<ipython-input-25-588a5981d422>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['length'].fillna(df['length'].mean(), inplace = True) # replacing the null values present in the length column with the mean of the column

In [ ]:
df.isnull().sum()

index               0
company             4
body-style          0
wheel-base          3
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

In [ ]:
df1 = df[['company', 'price']][df.price == df['price'].max()]
print(df1) # Assigning the car company with highest price to df1

          company    price
35  mercedes-benz  45400.0

In [ ]:
dft =df.groupby('body-style') # grouping all the body-style present in the dataframe

In [ ]:
dft

In [ ]:
dtyot = dft.get_group('sedan') # Accessing all the columns where body-style is sedan

In [ ]:
print(dtyot)

    index        company body-style  wheel-base      length engine-type  \
3       3           audi      sedan        99.8  176.600000         ohc
4       4           audi      sedan        99.4  176.600000         ohc
5       5           audi      sedan        99.8  177.300000         ohc
7       9            NaN      sedan       101.2  176.800000         ohc
8      10            bmw      sedan         NaN  176.800000         ohc
9      11            bmw      sedan         NaN  176.800000         ohc
10     13            bmw      sedan         NaN  189.000000         ohc
11     14            bmw      sedan       103.5  173.015254         ohc
12     15            bmw      sedan       110.0  197.000000         ohc
15     18      chevrolet      sedan        94.5  158.800000         ohc
19     28          honda      sedan        96.5  175.400000         ohc
20     29          honda      sedan        96.5  169.100000         ohc
21     30          isuzu      sedan        94.3  170.700000         ohc
22     31          isuzu      sedan        94.5  155.900000         ohc
23     32          isuzu      sedan        94.5  155.900000         ohc
24     33         jaguar      sedan       113.0  199.600000        dohc
25     34         jaguar      sedan       113.0  199.600000        dohc
26     35         jaguar      sedan       102.0  191.700000        ohcv
31     43          mazda      sedan       104.9  175.000000         ohc
32     44  mercedes-benz      sedan       110.0  190.900000         ohc
34     46  mercedes-benz      sedan       120.9  208.100000        ohcv
38     51     mitsubishi      sedan        96.3  172.400000         ohc
39     52            NaN      sedan        96.3  172.400000         ohc
40     53         nissan      sedan        94.5  165.300000         ohc
41     54         nissan      sedan        94.5  165.300000         ohc
42     55         nissan      sedan        94.5  165.300000         ohc
44     57         nissan      sedan       100.4  184.600000        ohcv
55     80     volkswagen      sedan        97.3  171.700000         ohc
56     81            NaN      sedan        97.3  171.700000         ohc
57     82     volkswagen      sedan        97.3  171.700000         ohc
58     86     volkswagen      sedan        97.3  171.700000         ohc
59     87          volvo      sedan       104.3  188.800000         ohc

   num-of-cylinders  horsepower  average-mileage    price
3              four         102               24  13950.0
4              five         115               18  17450.0
5              five         110               19  15250.0
7              four         101               23  16430.0
8              four         101               23  16925.0
9               six         121               21  20970.0
10              six         182               16  30760.0
11              six         182               16  41315.0
12              six         182               15  36880.0
15             four          70               38   6575.0
19             four         101               24  12945.0
20             four         100               25  10345.0
21             four          78               24   6785.0
22              six          70               38  15387.0
23             four          70               38  15387.0
24              six         176               15  32250.0
25              six         176               15  35550.0
26           twelve         262               13  36000.0
31             four          72               31  18344.0
32             five         123               22  25552.0
34            eight         184               14  40960.0
38             four          88               25   6989.0
39             four          88               25   8189.0
40             four          55               45   7099.0
41             four          69               31   6649.0
42             four          69               31   6849.0
44              six         152               19  13499.0
55             four          52               37   7775.0
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0

In [ ]:
sdf = df.sort_values(by = ['price'], ascending = False)

In [ ]:
sdf.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
35,47,mercedes-benz,hardtop,112.0,199.200000,ohcv,eight,184,14,45400.0
11,14,bmw,sedan,103.5,173.015254,ohc,six,182,16,41315.0
34,46,mercedes-benz,sedan,120.9,208.100000,ohcv,eight,184,14,40960.0
46,62,porsche,convertible,89.5,168.900000,ohcf,six,207,17,37028.0
12,15,bmw,sedan,110.0,197.000000,ohc,six,182,15,36880.0

In [ ]:
df.describe() # Performing statistical summary again after fixing some missing values

,index,wheel-base,length,horsepower,average-mileage,price
count,61.000000,58.000000,61.000000,61.000000,61.000000,61.00000
mean,40.885246,98.301724,173.015254,107.852459,25.803279,15387.00000
std,25.429706,6.798981,13.612602,53.524398,8.129821,11033.62446
min,0.000000,88.400000,141.100000,48.000000,13.000000,5151.00000
25%,18.000000,94.500000,165.300000,68.000000,19.000000,6849.00000
50%,39.000000,96.000000,171.700000,100.000000,25.000000,12940.00000
75%,61.000000,101.000000,176.800000,123.000000,31.000000,17450.00000
max,88.000000,120.900000,208.100000,288.000000,47.000000,45400.00000

Standard Deviation , 25%, 50% , 75% have been affected after handling the null values

In [ ]:
import pandas as pd
import numpy as np

# Assuming 'df' is your DataFrame
# Select only numerical columns for correlation calculation
numerical_df = df.select_dtypes(include=np.number)

# Calculate the correlation matrix
correlation_matrix = numerical_df.corr()

# Display the correlation matrix
print(correlation_matrix)

                    index  wheel-base    length  horsepower  average-mileage  \
index            1.000000    0.046964  0.015318   -0.093809         0.176037
wheel-base       0.046964    1.000000  0.870966    0.455915        -0.538118
length           0.015318    0.870966  1.000000    0.639075        -0.769146
horsepower      -0.093809    0.455915  0.639075    1.000000        -0.808804
average-mileage  0.176037   -0.538118 -0.769146   -0.808804         1.000000
price           -0.195768    0.653888  0.715175    0.803195        -0.732467

                    price
index           -0.195768
wheel-base       0.653888
length           0.715175
horsepower       0.803195
average-mileage -0.732467
price            1.000000

In [ ]:
df.corr(numeric_only=True)

,index,wheel-base,length,horsepower,average-mileage,price
index,1.000000,0.046964,0.015318,-0.093809,0.176037,-0.195768
wheel-base,0.046964,1.000000,0.870966,0.455915,-0.538118,0.653888
length,0.015318,0.870966,1.000000,0.639075,-0.769146,0.715175
horsepower,-0.093809,0.455915,0.639075,1.000000,-0.808804,0.803195
average-mileage,0.176037,-0.538118,-0.769146,-0.808804,1.000000,-0.732467
price,-0.195768,0.653888,0.715175,0.803195,-0.732467,1.000000

In [ ]:
pd.get_dummies(df["num-of-cylinders"])

    eight   five   four    six  three  twelve    two
0   False  False   True  False  False   False  False
1   False  False   True  False  False   False  False
2   False  False  False   True  False   False  False
3   False  False   True  False  False   False  False
4   False   True  False  False  False   False  False
..    ...    ...    ...    ...    ...     ...    ...
56  False  False   True  False  False   False  False
57  False  False   True  False  False   False  False
58  False  False   True  False  False   False  False
59  False  False   True  False  False   False  False
60  False  False   True  False  False   False  False

[61 rows x 7 columns]

In [ ]:
df['company'].fillna(value = 'audi', inplace = True)
df["wheel-base"].fillna(df["wheel-base"].mean(),inplace = True)

<ipython-input-38-05ee81026b46>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['company'].fillna(value = 'audi', inplace = True)
<ipython-input-38-05ee81026b46>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["wheel-base"].fillna(df["wheel-base"].mean(),inplace = True)

In [ ]:
df.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

There are no null values present in the dataset. Now we can proceed with feature Engineering

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
col = ["body-style","engine-type","company","num-of-cylinders"]
df[col] = df[col].apply(le.fit_transform) # performing label encoding on the mentioned columns to convert them from characters to numbers

In [ ]:
df.head() # Our dataset only has numeric data

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,0,0,88.6,168.8,0,2,111,21,13495.0
1,1,0,0,88.6,168.8,0,2,111,21,16500.0
2,2,1,2,94.5,171.2,5,3,154,19,16500.0
3,3,1,3,99.8,176.6,3,2,102,24,13950.0
4,4,1,3,99.4,176.6,3,1,115,18,17450.0

In [ ]:
df.dtypes

index                 int64
company               int64
body-style            int64
wheel-base          float64
length              float64
engine-type           int64
num-of-cylinders      int64
horsepower            int64
average-mileage       int64
price               float64
dtype: object

As we can see all our columns are of numeric type

In [ ]:
le.fit_transform(["First","Second","Excellent"])

array([1, 2, 0])

In [ ]:
from sklearn import preprocessing

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA()

In [ ]:
pdf = pca.fit_transform(df)

In [ ]:
pdf

array([[-1.89195799e+03,  1.72206981e+00, -4.44364753e+01,
        -6.11144557e-01, -6.46502893e+00, -3.84432444e+00,
         5.54060676e-02, -3.12531818e+00, -3.92983578e-01,
        -1.07426925e+00],
       [ 1.11301661e+03, -9.43986716e+00, -3.98758151e+01,
        -3.39980668e+00, -7.03051900e+00, -4.14475234e+00,
        -1.90273160e-01, -3.23984758e+00, -3.86992387e-01,
        -9.11058438e-01],
       [ 1.11318915e+03,  3.27781600e+01, -4.73975753e+01,
        -9.37269015e-01, -1.66533469e+00,  3.67318027e-01,
         3.38718959e-01,  2.31124739e+00, -3.55830687e-01,
        -3.65162541e-01],
       [-1.43698867e+03, -8.04037993e+00, -3.74643760e+01,
         9.57266224e+00,  9.92722884e-01,  3.39764011e-02,
         1.22460562e-01,  4.11982109e-01, -9.68345290e-02,
         6.94598014e-02],
       [ 2.06303555e+03, -7.90176803e+00, -3.53474821e+01,
         7.13295883e+00, -3.66153175e+00,  1.99826878e+00,
         1.32819192e-01, -2.09526834e-01, -9.39590097e-01,
         8.21060861e-01],
       [-1.36965881e+02, -4.27434086e+00, -3.58406303e+01,
         9.78049210e+00, -2.75953041e+00,  1.77180440e+00,
         1.90105411e-02, -9.95225491e-02, -9.46927209e-01,
         6.08989781e-01],
       [ 3.53301908e+03, -1.70879799e+01, -2.88605097e+01,
         2.21968734e+01,  2.48306359e-01, -1.24057889e+00,
         2.00138101e-02,  3.33583730e-01, -6.07181063e-01,
         7.57107543e-01],
       [ 1.04298539e+03, -1.70526203e+01, -2.84726681e+01,
         7.83561341e+00, -4.32596910e-02,  1.20462786e+00,
        -9.28575856e-01,  2.47196607e-01, -4.72376091e-02,
         4.31530361e-02],
       [ 1.53797965e+03, -1.86421900e+01, -2.69370572e+01,
         6.13789507e+00, -1.56012111e+00, -1.00881490e+00,
         5.75118754e-02,  2.00276243e-01, -1.23170006e-01,
         4.11697350e-01],
       [ 5.58302462e+03, -1.41390633e+01, -2.54728649e+01,
         1.84925282e+00, -2.12348287e+00, -6.24155698e-01,
        -2.50369047e-01,  3.82285319e-01,  7.52960422e-01,
         3.18862311e-01],
       [ 1.53731936e+04,  9.66211339e+00, -2.40164170e+01,
         1.58178898e+00, -1.76605943e+00, -5.28965343e+00,
        -4.88230164e-01,  5.44989457e-01,  5.55395947e-01,
         7.60450344e-01],
       [ 2.59280934e+04, -3.11321573e+01, -1.13903567e+01,
        -1.99266789e+01, -1.66041638e+00,  5.16227008e+00,
        -1.97079370e+00, -3.14117726e-01,  9.90677587e-01,
         1.10394011e+00],
       [ 2.14931539e+04, -1.26563278e+01, -1.34507435e+01,
         7.67091401e+00,  2.39746305e+00, -3.27196328e-01,
        -1.30502940e+00,  4.18742831e-01,  8.78830549e-01,
        -3.27223016e-01],
       [-1.02361801e+04, -2.85025162e+01, -2.63875318e+01,
        -2.25826913e+01,  8.89489614e+00, -9.36999468e-01,
        -1.54044835e+00, -7.58765084e-02,  1.58902134e+00,
        -6.14218142e-01],
       [-9.09208408e+03, -9.61744809e+00, -2.75314128e+01,
        -7.14447705e+00,  6.80932905e+00,  6.09017274e-01,
        -1.06972468e+00,  3.26272018e-01, -4.34549610e-01,
        -6.25461869e-01],
       [-8.81208431e+03, -1.02905309e+01, -2.59929904e+01,
        -4.90888051e+00,  6.87552903e+00, -7.33872876e-01,
        -1.14649388e+00,  5.77157605e-01, -1.41046050e-01,
         2.44386510e-01],
       [-9.01007495e+03, -9.70598100e+00, -2.38829870e+01,
         9.18436584e+00,  9.02604154e-01, -5.01942845e+00,
         8.05909662e-01,  3.84023704e-01, -6.00444366e-01,
        -7.06435050e-01],
       [-9.15808803e+03, -9.90723695e+00, -2.43801975e+01,
        -4.48882699e+00,  2.15130791e-01,  2.41973878e+00,
        -3.98732473e-02, -4.04140528e-02, -3.83484819e-01,
        -3.98911235e-01],
       [-8.09206751e+03, -4.63807709e+00, -1.78122392e+01,
        -5.29176089e+00,  1.08771490e+00,  5.12923149e+00,
        -4.75022036e-01,  2.21516676e-01,  3.98544726e-01,
         1.21697933e+00],
       [-2.44199808e+03,  1.43402817e-01, -1.41723980e+01,
         5.73991559e+00, -1.92001567e+00, -1.57595705e+00,
         1.98525406e-01,  2.07178429e-01, -1.57442587e-01,
         3.88480337e-01],
       [-5.04198694e+03,  8.74067951e+00, -1.65893737e+01,
         2.26720765e+00, -1.05466397e+00,  1.23349466e+00,
        -2.16234024e-01,  1.73187251e-01, -8.88056103e-02,
         3.43237790e-01],
       [-8.60204250e+03,  1.32003230e+00, -1.51041857e+01,
         7.33412829e+00, -4.44787021e+00, -3.33953346e-01,
         1.13551187e+00,  1.05626667e-01, -1.25870533e-01,
         3.84304793e-01],
       [-1.66086103e-01, -4.09875382e+01, -2.73993483e+00,
        -1.66984696e+01,  4.63476732e+00, -1.35376706e-01,
        -6.74327206e-01,  3.03981981e-01,  8.51053940e-01,
         4.45867043e-01],
       [-1.66541787e-01, -4.07795280e+01, -1.77800944e+00,
        -1.67635142e+01,  4.61847360e+00, -8.58877875e-02,
        -8.39176417e-01,  1.43188123e-02, -3.11910589e-02,
         8.13357737e-01],
       [ 1.68631640e+04,  3.11020632e+00,  6.82680335e-01,
         1.37425831e+01,  3.54057240e+00,  1.33077522e+00,
         6.43221185e-01, -2.45450541e+00,  2.03293300e+00,
        -7.24823625e-01],
       [ 2.01631361e+04, -9.16809824e+00,  5.59703083e+00,
         1.06891678e+01,  2.92580263e+00,  1.00061711e+00,
         3.89266448e-01, -2.58006573e+00,  2.03978790e+00,
        -5.45100640e-01],
       [ 2.06134570e+04,  7.26652976e+01, -1.25700663e+01,
        -5.16398808e+00,  3.26604068e+00, -2.80868543e+00,
         2.74979366e-01,  3.03900647e+00,  1.72704596e+00,
        -1.25493510e-01],
       [-1.01920850e+04, -2.29268990e+00, -9.59160391e+00,
        -3.59341310e+00, -1.40557641e+00,  1.86344089e+00,
         1.50250006e+00, -1.99530815e-01, -3.56572604e-01,
        -3.69866033e-01],
       [-9.29209349e+03, -5.58033239e+00, -7.51286904e+00,
        -4.76348480e+00, -7.68614036e-01,  1.34355174e+00,
         1.25797228e+00, -1.85516129e-01, -3.67672852e-01,
        -3.47161185e-01],
       [-8.59209975e+03, -8.01946490e+00, -5.71578862e+00,
        -5.48348227e+00, -9.49054233e-01,  1.27542269e+00,
         1.07695423e+00, -2.13854720e-01, -3.68430360e-01,
        -3.12969207e-01],
       [-3.54199637e+03,  6.97858313e+00, -5.37193691e+00,
         1.24295888e+00, -9.38885300e+00,  3.72294805e+00,
         1.79391416e+00,  3.36050915e+00,  2.19592751e+00,
        -1.82166863e+00],
       [ 2.95683624e+03, -4.59775482e+01,  1.40806883e+01,
         1.95244602e+00,  3.78638479e+00,  1.66028048e+00,
        -1.59460130e-01, -7.11472424e-02,  1.73726834e-01,
        -3.85868687e-01],
       [ 1.01649954e+04, -2.17681616e+01,  1.42144745e+01,
         1.08965211e+01,  3.09073501e+00,  1.22519570e+00,
         9.64598441e-01, -3.37599882e-01, -6.91740424e-01,
        -2.31638340e-01],
       [ 1.28609726e+04, -3.17633267e+01,  1.84138028e+01,
         8.43308774e+00,  2.63363691e+00,  1.00840150e+00,
         6.92992651e-01, -2.56000951e-01, -3.50528792e-01,
         8.32639971e-01],
       [ 2.55731280e+04, -1.88037404e+01,  2.33597490e+01,
         1.49706272e+01,  5.57028621e+00,  3.38021152e+00,
         3.77869008e-01,  1.13159399e+00, -2.07257880e+00,
        -4.57758484e-01],
       [ 3.00130794e+04, -3.58159795e+01,  2.83635083e+01,
        -4.02137243e-01, -1.53918547e-01,  2.46354581e-01,
         3.27142330e-01,  3.98403495e-01, -2.92360454e+00,
        -8.95739177e-01],
       [-9.99809776e+03, -9.93558913e-01,  3.59286787e+00,
        -8.28099824e+00,  4.06620935e+00,  2.50148783e-01,
         8.38070946e-01, -2.09495857e-02, -3.67480331e-01,
        -5.53939294e-01],
       [-9.19810162e+03, -3.26121760e+00,  5.25865664e+00,
        -7.46725930e+00, -1.23581104e+00,  2.76156574e+00,
         1.00164298e+00, -3.52018705e-01, -3.02375191e-01,
        -3.78059031e-01],
       [-8.39801323e+03,  1.47807713e+01,  4.06207621e+00,
         6.49376149e+00, -2.63654868e+00,  1.50694491e-01,
         1.47750624e+00,  4.65743796e-02, -5.52892781e-02,
         1.36400795e-01],
       [-7.19802308e+03,  1.01519098e+01,  5.03010662e+00,
         5.71689444e+00, -3.57181707e+00, -3.65742824e-01,
        -7.54028536e+00,  3.71831939e-01, -3.02738184e-01,
        -6.05823345e-02],
       [-8.28816144e+03, -1.94648761e+01,  1.34417239e+01,
        -4.35032877e+00,  9.94249401e+00, -6.41967494e+00,
         1.02662367e+00,  5.65989946e-01, -1.59099485e-01,
         2.83503240e-02],
       [-8.73809605e+03, -2.67806262e+00,  1.02950336e+01,
        -1.00684430e+00, -6.09926589e-01, -3.47816732e-01,
         1.58184981e+00, -1.36790564e-02, -3.41679171e-02,
         3.24719110e-01],
       [-8.53809816e+03, -3.22504666e+00,  1.14926391e+01,
        -1.27810758e+00, -7.06841868e-01, -3.65555579e-01,
         1.41485805e+00, -2.33211605e-02, -3.63893514e-02,
         3.30924356e-01],
       [-8.03809845e+03, -4.60707422e+00,  1.34574216e+01,
         2.50538815e+00, -5.94837212e-01, -2.67515632e+00,
         1.41954596e+00,  2.73782960e-01,  2.29734625e-01,
         1.17226066e+00],
       [-1.88780509e+03,  5.48097275e+01,  5.15057618e+00,
         1.03993429e+01, -5.51394104e-01, -5.29193327e-01,
         1.54917365e+00,  2.39463173e+00,  1.16452965e-01,
        -5.21437287e-01],
       [ 1.86412199e+04,  3.07613545e+01,  2.00106933e+01,
        -2.88573719e+01, -6.72793502e+00, -2.80271098e+00,
         1.01709493e+00,  2.06348883e-01, -3.82130773e-01,
         4.57430977e-01],
       [ 2.16411946e+04,  1.96209149e+01,  2.45562151e+01,
        -3.16894577e+01, -7.34936341e+00, -3.15512751e+00,
         8.06150774e-01, -9.25674454e-02, -7.12279368e-01,
        -2.98001375e-01],
       [ 6.98774648e-01,  1.80652559e+02, -1.65666694e+01,
        -7.15828190e+00,  9.08515152e+00,  2.60285769e+00,
         1.46947177e-01, -1.85388634e+00, -1.66387165e+00,
         5.72062413e-01],
       [-1.00391256e+04, -2.75427428e+00,  2.17298480e+01,
        -7.07608688e+00,  1.99331169e+00,  2.16308872e+00,
         1.13454605e+00, -2.96556071e-01, -2.49612430e-01,
        -7.60511949e-01],
       [-9.04913209e+03, -5.92425056e+00,  2.37071662e+01,
        -6.97402802e+00, -1.63882309e+00,  3.79214938e+00,
         1.17698965e+00, -5.35066111e-01, -2.05807619e-01,
        -6.19360374e-01],
       [-8.89913378e+03, -6.28201975e+00,  2.48448241e+01,
        -7.20041788e+00, -1.72738588e+00,  3.77944956e+00,
         1.01140051e+00, -5.42838567e-01, -2.08175446e-01,
        -6.15953802e-01],
       [-8.46912812e+03, -7.02474061e+00,  2.72307271e+01,
         2.01710552e+00, -1.29511946e+00, -1.35144767e+00,
         1.25072475e+00,  1.07514170e-01,  3.08396408e-01,
         1.01530764e+00],
       [-7.48913455e+03, -1.01568739e+01,  2.91960557e+01,
         2.12813907e+00, -4.92558375e+00,  2.78620798e-01,
         1.29344888e+00, -1.30621941e-01,  3.52171941e-01,
         1.15589948e+00],
       [-6.60914231e+03, -1.32771799e+01,  3.12089472e+01,
         1.24659729e+00, -5.13609292e+00,  1.92351273e-01,
         1.10738137e+00, -1.65691267e-01,  3.51941446e-01,
         1.20016668e+00],
       [ 3.63186094e+02,  5.50091866e+01,  2.88732085e+01,
         1.05379664e+01,  6.32820305e-01,  8.13229618e-01,
        -5.35545876e-01, -2.22581390e+00,  2.21331432e+00,
         2.80308734e-01],
       [-7.61218007e+03, -1.80801781e+01,  4.15816078e+01,
         1.42672509e+00,  2.90391533e+00, -3.72041164e+00,
         1.82821158e-01,  9.70244237e-02, -4.86264462e-02,
        -2.39538636e-01],
       [-7.41204739e+03,  1.38951893e+01,  3.32755076e+01,
         2.64356305e+00, -3.49503586e+00, -4.01730080e-02,
        -1.24004308e+01,  3.70345193e-01, -3.56441924e-01,
        -3.59643940e-01],
       [-7.39218280e+03, -1.84929727e+01,  4.37610076e+01,
         1.04574285e+00,  2.74015374e+00, -3.73774886e+00,
        -1.46112900e-01,  8.44709508e-02, -5.35963281e-02,
        -2.37203368e-01],
       [-5.39200825e+03,  2.23834499e+01,  3.93163715e+01,
        -7.34403992e-01, -2.58763274e+00,  7.55033066e-01,
        -5.76355805e-01, -1.92900628e-01, -2.08380543e-02,
         1.35145603e-01],
       [-2.44695927e+03,  2.63059262e+01,  4.26707450e+01,
         1.41655408e+01, -7.71862013e-02, -9.56389463e-01,
         5.38994193e-01,  3.62559258e-02,  2.85018272e-02,
        -7.13927112e-01],
       [-1.97196367e+03,  2.47156847e+01,  4.42072053e+01,
         1.36953848e+01, -1.63266615e-01, -9.49350383e-01,
         3.29693168e-01,  2.00904652e-01,  3.63210700e-01,
         2.26034135e-01]])

In [ ]:
dat = pd.DataFrame(pdf)

In [ ]:
dat.to_csv("p.csv")